<div class="login_wrapper">
    <form *ngIf="!switchForms" class="login_container" #form="ngForm">
        <label for="email">Email: </label>
        <input type="text" name="email" [(ngModel)]="user.email">
        <label for="password">Password: </label>
        <input type="password" name="password"[(ngModel)]="user.password" >
        <button type="submit" (click)=submit()>Submit</button>
    </form>
    <form *ngIf="switchForms" class="login_container" [formGroup]="registrationForm">
        <label for="email">Email: </label>
        <input type="text" formControlName="email">
        <span class="validation_error">
            {{ emailMessage }}
        </span>
        <div class="password_group" formGroupName="passwordGroup">
            <label for="password">Password: </label>
            <input type="password" formControlName="password">
            <span class="validation_error" *ngIf="registrationForm.get('passwordGroup.password').touched">
                <span *ngIf="registrationForm.get('passwordGroup.password').errors?.noNumeric">
                    At least 1 number is required
                </span>
            </span>
            
            <label for="password">Repeat Password: </label>
            <input type="password" formControlName="repeatPassword">
            <span class="validation_error" *ngIf="registrationForm.get('passwordGroup.repeatPassword').touched">
                <span *ngIf="registrationForm.get('passwordGroup.repeatPassword').errors?.required">
                    Repeat password is required
                </span>
                <span *ngIf="registrationForm.get('passwordGroup').errors?.match">
                    Passwords don't match
                </span>
            </span>
        </div>
        
        <button [disabled]="!registrationForm.valid" type="submit" (click)="registerUser()">Register</button>
    </form>
    <button *ngIf="!switchForms" type="submit" (click)="switchForm()">Register</button>
    <button *ngIf="switchForms" type="submit" (click)="switchForm()">Login</button>
</div>