.login_wrapper {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .login_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: initial;
        padding: 50px;
        background-color: lightgrey;
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 20px;

        label {
            margin-bottom: 10px;
        }
        input {
            margin-bottom: 10px;
            height: 30px;
            border: 1px solid black;
            outline: none;
            border-radius: 5px;
            box-shadow: none;
            padding-left: 10px;
        }
        
    }
    button {
        background-color: #f44336;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        color: white;
    }
    .validation_error {
        color: #f44336;
    }
    .password_group {
        display: flex;
        flex-direction: column;
    }
}