// Styles copied from basic todo example of w3schools
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  .input_wrapper {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  .input_wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
  
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  .add_button {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: black;
    float: left;
    text-align: center;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    &:disabled {
      color: grey;
    }
  }
  
  .add_button:hover {
    background-color: #bbb;
  }
