
<button class="add_button" (click)="logout()">Logout</button>    
<div class="input_wrapper">
    <h2>My To Do List</h2>
    <input type="text" placeholder="Add item to list..." [(ngModel)]="newItem">
    <button [disabled]="disableButton()" class="add_button" (click)="addNewItem()">Add</button>
</div>
<ul>
    <li *ngFor="let item of todoList">{{ item.text }}<button (click)="deleteItem(item)">X</button></li>
    <li *ngIf="newItem">{{ newItem }}</li>
    <li *ngIf="!newItem" class="todo_placeholder">Add new item as todo</li>
</ul>