// Styles copied from basic todo example of w3schools

  
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

.input_wrapper {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.input_wrapper:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.add_button {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: black;
  float: left;
  text-align: center;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  &:disabled {
    color: grey;
  }
}

.add_button:hover {
  background-color: #bbb;
}

ul {
  margin: 0;
  padding: 0;
  li {
      position: relative;
      padding: 12px 8px 12px 40px;
      background: #eee;
      font-size: 18px;
      transition: 0.2s;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    button {
      cursor: pointer;
      border: 0px;
      background-color: transparent;
      color: red;
      font-weight: 600;
      &:hover {
        outline: 1px solid grey;
      }
    }
  }
  
  li:nth-child(odd):not(.todo_placeholder) {
      background: #f9f9f9;
      &:hover {
        background: #ddd;
      }
  }

  .todo_placeholder {
    background-color: transparent;
    color: grey;
  }
  
  li:hover {
      background: #ddd;
  }
    
  li.checked {
      background: #888;
      color: #fff;
      text-decoration: line-through;
    }
    
  li.checked::before {
      content: '';
      position: absolute;
      border-color: #fff;
      border-style: solid;
      border-width: 0 2px 2px 0;
      top: 10px;
      left: 16px;
      transform: rotate(45deg);
      height: 15px;
      width: 7px;
  }
}