/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

html,
body {
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
